.split {
    /* display: inline-block; */
    float: left;
}

.splitter {
    height: 100%;
}
.gutter {
    /* display: inline-block; */
    float: left;
    cursor: col-resize;
    width: 100%;
    height: 100%;
    background: red;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.App > div {
    height: 100%;
}

/* html,
body,
.App,
.App > div {
    height: 100%;
} */
/* html, */

html,
body {
    height: 100%;
}
body {
    width: 100%;

    background-color: gray;
}
