@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'colors.css';

html,
body,
#root {
    height: 100%;
}

body {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    background-color: var(--dark-primary);
    overflow: hidden;
}

/***************************    SPLITTER    *********************************************/
.App,
.App > div,
.splitter {
    height: 100%;
}

.split {
    float: left;
    height: 100%;
}

.gutter {
    float: left;
    cursor: col-resize;
    height: 100%;
    /* background: var(--light-gray); */
}

/***************************    HERO    *********************************************/
.hero {
    margin-top: 10em;
}

.hero h1 {
    margin: 0.5em auto;
    font-size: 5em;
    font-weight: 800;
    color: var(--green-primary);
}

.hero h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--white);
}

/***************************    LOGIN    *********************************************/
.hero .login-btn {
    margin-top: 3em;
    text-transform: none;
}

.hero .login-btn-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.hero .login-btn i {
    padding-right: 0.5em;
}

.login-btn .progress-show {
    position: relative;
    opacity: 1;
    z-index: 1;
    left: -50%;
    color: var(--green-primary);
}

.login-btn .progress-hide {
    opacity: 0;
    position: relative;
    z-index: 1;
    left: -50%;
    color: var(--green-primary);
}

#login-error {
    margin-top: 1em;
    color: red;
}

/***************************    APPBAR    *********************************************/
#root .appbar {
    background-color: var(--dark-primary);
}

#root .appbar h3 {
    font-weight: 800;
    font-size: 1.25em;
    color: var(--green-primary);
    margin: 0 auto;
}

/***************************    FILEBROWSER    *********************************************/

#filebrowser {
    background-color: var(--dark-secondary);
    color: var(--white);
    overflow: scroll;
}

#filebrowser .fb-appbar {
    background-color: var(--dark-secondary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#filebrowser::-webkit-scrollbar {
    display: none;
}

#filebrowser {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/***************************    EDITOR    *********************************************/
#editor {
    overflow: scroll;
}
